{%- macro fqfield(field) %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        <input
            class="span3 {% if field.errors %}error{% endif %}"
            placeholder="{{ field.label.text }}"
            type="text"
            name="{{ field.name }}"> 
        {%- for error in field.errors %}
            <p class="help-block">{{error}}</p>
        {%- endfor %}
    </div>
{% endmacro %}

{% macro render_pagination(pagination) %}
<ul class=pagination>
    {%- for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                <li><a href="./?page={{ page }}">{{ page }}</a></li>
            {% else %}
                <li class="active"><a href="./">{{ page }}</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a class="ellipsis">…</a></li>
        {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
    <li><a href="./?page={{ pagination.next_num|int }}">Next &raquo;</a></li>
    {% endif %}
</ul>
{% endmacro %}

{% macro render_event(event) %}
    <div class="alert alert-info">
        {{ event.message }}
    </div>
{% endmacro %}

{% macro render_character(character) %}
    <div class="row">
        <div class="span1">
            <a href="http://facebook.com/{{ character.facebook_id }}" class="thumbnail"><img src="http://graph.facebook.com/{{ character.facebook_id }}/picture" alt=""></a></div>
            <div class="span3">
                <p><a href="{{ url_for('fquest.character', facebook_id=character.facebook_id) }}">{{ character.name }}</a></p>
                <strong><p>{{ character.display() }}</p></strong>
                <span class=" badge badge-warning">Exp: {{ character.exp }}</span>
		</div>
        <br/>
    </div>
{% endmacro %}
