{% extends "fquest/base.html" %}

{% block title %}{{ _("Character profile") }}{% endblock %}

{% block fquest_content %}
    <div class='row'>
        <div class='span12'>
            <h2>Nice background will be here.</h2>
        </div>
    </div>
    <div class='row'>
        <div class='span4 well'>
            <h3><img src="http://graph.facebook.com/{{ character.facebook_id }}/picture" alt="alt"/>
                {{ character.name }}</h3>
            <h4>{{ character.display() }}</h4>
            <b>Level {{ character.level }}</b>
            <div class="progress progress-striped active">
                <div class="bar" style="width: 36%;"></div>
            </div>
            <span class="warning">Gold: {{ character.gold }}</span>
            <span class="success">Win: {{ character.win }}</span>
            <span class="inverse">Lose: {{ character.lose }}</span>
            
            <div class="row">
                <div class="span2">
                    <p class="text-warning">
                        <b>Strenght:</b>
                        {{ character.strenght }}
                    </p>
                    <p class="text-warning">
                        <b>Dexterity:</b>
                        {{ character.dexterity }}
                    </p>
                </div>
                <div class="span2">
                    <p class="text-warning">
                        <b>Intellect:</b>
                        {{ character.intellect }}
                    </p>
                    <p class="text-warning">
                        <b>Luck:</b>
                        {{ character.luck }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='span4 well'>
{% endblock %}
